.main-div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}

.left-div{
    flex-basis: 40%;   
} 

.left-div h3{
    margin-bottom: 15px;
}

.right-div{
    flex-basis: 50%;
}

.msg_icon{
    width: 25px;
    height: auto;
    margin-left: 10px;
}

.send-msg{
    text-align: justify;
    font-size: 12px;
}

.icons{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.m-icons, .p-icons, .l-icons{
    width: 16px;
    height: auto;
    margin-right: 10px;
}

.email-ad, .phone-num, .address{
    font-size: 12px;
}

.address{
    max-width: 200px;
}

.y-name, .y-num, .y-msg{
    font-size: 12px;
    margin-bottom: 5px;
}

.name-txt, .num-txt, .msg-txt{
    font-size: 12px;
    background-color: rgb(214, 239, 245);
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.right-div div{
    display: flex;
}

.sub-btn{
    background-color: darkblue;
    color: white;
    font-size: 12px;
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 20px;
}

.sub-btn img{
    width: 20px;
    margin-left: 10px;
} 

@media (max-width:878px){
    .main-div{
        flex-direction: column;
    }

    .left-div{
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .right-div{
        flex-basis: 100%;
    }
}
